<!DOCTYPE html>
<html ng-app="MoviesApp">
    <head>
        <meta charset="utf-8">
        <title>Recommended Movies</title>
        <link rel="stylesheet" type="text/css" href="Style/style.css">
        <link href='https://fonts.googleapis.com/css?family=Alef:400&subset=hebrew,latin' rel='stylesheet' type='text/css'>
        <script src="Scripts/angular.min.js"></script>
        <script src="Scripts/app.js"></script>
    </head>

    <body ng-controller="moviesCtrl">
        <header>הסרטים הכי טובים 2016</header>
        <nav>
            <div class="buttons">
                <button type="button" ng-click="categoryFilter={category: 'comedy'}">קומדיה</button>
                <button type="button" ng-click="categoryFilter={category: 'drama'}">דרמה</button>
                <button type="button" ng-click="categoryFilter={category: 'action'}">פעולה</button>
            </div>
            <div>
                <input class="searchbar" type="text" placeholder="חיפוש לפי שם סרט" ng-model="query" ng-init="omdb_movie.Response = 'False'" ng-change="searchOnline(query)" />
            </div>
        </nav>
        
        <main>
            <section id="localsearch">
                <div class="movies" ng-repeat="movie in movies | filter: query | filter: categoryFilter">
                    <div class="movie-block">
                        <div><img src="{{ movie.Poster }}" /></div>
                        <div class="movieinfo">
                            <div> {{ movie.Name }} </div>
                            <div class="moviedesc"> {{ movie.desc }} </div>
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="movies" ng-hide="omdb_movie.Response == 'False' ">
                    <h2>Online Search</h2>
                    <div class="movie-block">
                        <div><img src="{{ omdb_movie.Poster }}" /></div>
                        <div class="movieinfo">
                            <div> {{ omdb_movie.Title }} </div>
                            <div class="moviedesc"> {{ omdb_movie.Plot }} </div>
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
        
        <footer>ABC Design 2016 &copy;</footer>
<!--        <ng-view></ng-view>-->
    </body>
</html>