html, body {
    direction: rtl;
    margin: auto;
    width: 75%;
    font-family: 'Alef', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    color: rgb(103,53,187);
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: bolder;
    height: 50px;
    padding: 30px;
}

nav {
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px 0px;
}

nav .buttons {
    display: flex;
}

nav button:hover {
    background-color: red;
}

nav button {
	background-color: #FFF;
	border: 1px solid #a511c0;
    border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	color: #000;
	font-size: 15px;
	padding: 6px 24px;
	text-decoration: none;
    font-weight: bold;
    margin: 0px 5px;
}
nav button:hover {
	background-color: rgb(103,53,187);
    color: #FFF;
}
nav button:active {
	position:relative;
	top:1px;
}

nav .search {
    float: left;
}

nav .search input {
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

nav .search input:active {
    border: 1px solid blue;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

main .movies {
/*    margin: 25px;*/
/*    padding: 10px;*/
/*    direction: ltr;*/
/*    border: 1px solid black;*/
    padding: 3px;
    margin: 6px;
}

main .movies div {
/*    padding: 0px 3px;*/
    margin-top: -6px;
}

main .movie-block {
    width: 171px;
}

main .movies img {
    width: 175px;
    height: 250px;
}

main .movies .movieinfo {
    background-color: rgb(217,206,235);
    width: 175px;
    border-bottom: 4px solid purple;
}

main .movies .moviedesc {
    font-size: 12px;
}

main .movies .rating {
    text-align: left;
    unicode-bidi: bidi-override;
}

main .movies .rating > span {
    display: inline-block;
    position: relative;
}

main .movies .rating > span:hover:before,
main .movies .rating > span:hover ~ span:before{
    content: "\2605";
    position: absolute;
}

footer {
    direction: ltr;
    text-align: center;
    padding: 10px;
}